/******* GENERAL *******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Toda la tipografía de la página es sans-serif */
html {
  font-family: sans-serif;
}

/******* CABECERA *******/

/* La cabecera tiene color de fondo, y texto blanco y centrado  */
header {
  background-color: rgb(100, 149, 237);
  color: white;
  align-items: center;
  height: 5rem;
  display: flex;
  justify-content: center;
}

/******* MAIN *******/

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

h2 {
  color: rgb(100, 149, 237);
  padding: 2rem 0 1rem;
}

/******* LISTA *******/

ul {
  display: flex;
  flex-direction: column;
  list-style: circle; /* Las viñetas de la lista no son las que vienen por defecto*/
  gap: 1rem;
  margin: 0 2rem;
  justify-content: center;
  height: 100%;
}

/* Los objetos importantes de la lista están subrayados y en negrita */
.importante {
  font-weight: bold;
  text-decoration: underline;
}

/******* TABLA *******/

table {
  border: 1px solid white;
  vertical-align: middle;
  margin: 0 1rem;
}

/* La cabecera tiene un color de fondo y de texto diferente al resto */
thead {
  color: white;
  background-color: rgb(100, 149, 237);
}

tr {
  height: 2rem;
}

th {
  font-weight: bold;
  text-align: center;
  padding: 1rem 1rem;
}

/* Las filas pares tienen un color de fondo distinto a las impares */
/* Filas impares */
tbody tr:nth-child(odd) {
  background-color: rgb(232, 239, 252);
}
/* Filas pares */
tbody tr:nth-child(even) {
  background-color: rgb(187, 208, 247);
}

/* Los títulos de fila tienen un color de fondo con transparencia */
tbody th {
  background-color: rgb(100, 149, 237, 0.5);
  width: 5rem;
}

td {
  width: 8rem;
  padding: 1rem 1rem;
}

/* El descanso está en mayúsculas, negrita y centrado */
#descanso {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
